/* Custom CSS file */
img { max-width: 100%; }

body,html {
  margin:0;
  padding:0;
  color: #FAFAFA;
}

.tracked-custom {
  letter-spacing: 0.01em;
}

.curu-gradient {
  background-color: #4ec2ee;
background-image: -webkit-linear-gradient(135deg, #4ec2ee 0%, #2d9ddd 100%);
background-image: -moz-linear-gradient(135deg, #4ec2ee 0%, #2d9ddd 100%);
background-image: -o-linear-gradient(135deg, #4ec2ee 0%, #2d9ddd 100%);
background-image: linear-gradient(135deg, #4ec2ee 0%, #2d9ddd 100%);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  top: 3.5rem;
}
.blue-gradient {
  background-color: #59bcc2;
background-image: -webkit-linear-gradient(135deg, #59bcc2 0%, #4790a0 50%, #35647f 100%);
background-image: -moz-linear-gradient(135deg, #59bcc2 0%, #4790a0 50%, #35647f 100%);
background-image: -o-linear-gradient(135deg, #59bcc2 0%, #4790a0 50%, #35647f 100%);
background-image: linear-gradient(135deg, #59bcc2 0%, #4790a0 50%, #35647f 100%);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  top: 3.5rem;
}

.red-gradient {
  background-color: #f23847;
background-image: -webkit-linear-gradient(135deg, #f23847 0%, #ca2e3a 50%, #a71723 100%);
background-image: -moz-linear-gradient(135deg, #f23847 0%, #ca2e3a 50%, #a71723 100%);
background-image: -o-linear-gradient(135deg, #f23847 0%, #ca2e3a 50%, #a71723 100%);
background-image: linear-gradient(135deg, #f23847 0%, #ca2e3a 50%, #a71723 100%);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  top: 3.5rem;
}

.prototype-gradient {
  background-color: #2a62ac;
  background-image: -webkit-linear-gradient(135deg, #2a62ac 0%, #ef3284 33%, #f9a480 62%, #f9f0e6 87%);
  background-image: -moz-linear-gradient(135deg, #2a62ac 0%, #ef3284 33%, #f9a480 62%, #f9f0e6 87%);
  background-image: -o-linear-gradient(135deg, #2a62ac 0%, #ef3284 33%, #f9a480 62%, #f9f0e6 87%);
  background-image: linear-gradient(135deg, #2a62ac 0%, #ef3284 33%, #f9a480 62%, #f9f0e6 87%);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  top: 3.5rem;
}

.nyge-gradient {
  background-color: #eaedfb;
background-image: -webkit-linear-gradient(135deg, #eaedfb 16%, #e2d6e9 100%);
background-image: -moz-linear-gradient(135deg, #eaedfb 16%, #e2d6e9 100%);
background-image: -o-linear-gradient(135deg, #eaedfb 16%, #e2d6e9 100%);
background-image: linear-gradient(135deg, #eaedfb 16%, #e2d6e9 100%);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  top: 3.5rem;
}

.case-image{
  width: 80%;
}

.case-image2{
  max-width: 90%;
  max-height: 275px;
}

/* Typed.js */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.emergence-case {
  -webkit-transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.emergence-case[data-emergence=hidden] {
  -webkit-transform: translateX(100%);
 transform: translateX(100%);
  }

.emergence-case[data-emergence=visible] {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
